@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.titleFont {
  font-family: poppins, Arial, ;
  font-weight: 800;
}
