@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background-color: #0f172a;
}

.scroll-velocity-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    #000000 10%,
    #000000 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    #000000 10%,
    #000000 90%,
    transparent 100%
  );
}